.img2{
    width: 300px;
   margin-bottom: 0px;
    margin-left:0px;
    margin-top: 45px;
}

.f_h{
    
    font-size:80px;
    
}

.img3{
    width: 300px;
    margin-top:150px;
    margin-left:0px;
}

.div1{
    margin-top:50px;
}

.row1{
    margin-top: 100px;
}